dhtmlx/common/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="tree">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="item"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="radio" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="item"/>
      </xs:sequence>
      <xs:attribute name="call" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="im0" use="required" type="xs:NCName"/>
      <xs:attribute name="im1" use="required" type="xs:NCName"/>
      <xs:attribute name="im2" use="required" type="xs:NCName"/>
      <xs:attribute name="open" type="xs:integer"/>
      <xs:attribute name="select" type="xs:integer"/>
      <xs:attribute name="style" type="xs:anyURI"/>
      <xs:attribute name="text" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
